//example of how your final secret variable should appear to use with node-essentials-front-end and also render.com cloud server
DATABASE_URL= "postgresql://<db_user>:<db_password>@<neon_host_string>.neon.tech/<db_name>?sslmode=require""
JWT_SECRET="our_random_chosen_alphanumeric_string"
#site key added in Lesson10 for google recaptcha
#reCAPTCHA site key from google logon if you choose to get your own reCaptcha site key
RECAPTCHA_SECRET="your_production_recaptcha_secret_key_string" (this is the key you get if you personally logon to google and Adding reCAPTCHA Support for your own project)

RECAPTCHA_BYPASS="your_configured_recaptcha_development_bypass_phrase"

#GOOGLE_CLIENT_ID given value that matches the value in node-essentials -front -end repository
GOOGLE_CLIENT_ID="174295933149-09i1it2go1ssjpqtqam9vdm1pj257aqu.apps.googleusercontent.com"